@model Entidades.BecasAlumnos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BecasAlumnos</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.NombreAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreBeca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBeca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiopoBeca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiopoBeca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
